nanohttpd.server.port=8080
nanohttpd.server.daemon=false
nanohttpd.server.socketreadtimeout=60000

storage.path=/tmp

sqlite.file.name=object-storage
sqlite.user=sa
sqlite.pass=

mimetype.support=image/gif,image/jpeg,image/png

keycloak.auth.username=username
keycloak.auth.password=password
keycloak.auth.endpoint=ttp://localhost:8080/auth/realms/<realm-name>/protocol/openid-connect/token
keycloak.auth.client-id=realm-name
keycloak.auth.grant-type=password
keycloak.auth.client_secret=secret